<ion-header>
  <ion-toolbar>
    <ion-title>speakers-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="speaker">
      <ion-label>{{speaker.name}} </ion-label>
      <div>
          <ion-label> Ajouter à mes contacts </ion-label>
          <ion-toggle (ionChange)="onValChange()" ></ion-toggle>
      </div>
      <ion-img [src]= "['https://devfest2018.gdgnantes.com/'+speaker.photoUrl]" ></ion-img>
      <div>
          <ion-title> Biographie</ion-title>
          <ion-label> {{speaker.bio}} </ion-label>
      </div>
      <!--
        <div>
          <ion-title> Ses présentations</ion-title>
          <ion-list *ngFor="let pres of speaker.presentations">
              <ion-label> {{pres}} </ion-label>
          </ion-list>

      </div>
      -->
    </div>
</ion-content>
