<ion-header>
    <ion-toolbar>
      <ion-title>
        Informations Appareil
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card *ngIf="device">
        <ion-item *ngIf="device.platform" lines="none">
            <ion-text> Platforme : {{device.platform}} </ion-text>
        </ion-item>
        <ion-item *ngIf="device.version" lines="none">
            <ion-text> Version : {{device.version}} </ion-text>
        </ion-item>
        <ion-item *ngIf="device.uuid" lines="none">
          <ion-text> UUID : {{device.uuid}} </ion-text>
        </ion-item>
        <ion-item *ngIf="device.model" lines="none">
            <ion-text> Modèle : {{device.model}} </ion-text>
        </ion-item>        
        <ion-item *ngIf="connectionStatus.connected" lines="none">
            <ion-text> 
              Connecté : Oui               
            </ion-text>
            
        </ion-item>
        <ion-item *ngIf="connectionStatus.connectionType" lines="none">
            <ion-text> Connexion : {{connectionStatus.connectionType}} </ion-text>
        </ion-item>
        
      </ion-card>
</ion-content>
