<ion-header>
  <ion-toolbar>
    <div>
        <ion-icon slot="start" name="ios-arrow-back"></ion-icon>
        <ion-title>Retour</ion-title>
    </div>
    
    <ion-title text-center>
      Sessions
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="sessionData">
    <ion-title>
        {{sessionData.title}}
      </ion-title>
      <ion-title>
          {{sessionData.description}}
      </ion-title>

      <ion-list *ngFor="let speaker of sessionSpeakers">
          <ion-item [routerLink]="['/speakers/', speaker.id]" class="speaker">
              <ion-img [src]="['https://devfest2018.gdgnantes.com/' + speaker.photoUrl]"></ion-img>
            <ion-label>{{speaker.name}}</ion-label>
          </ion-item>
        </ion-list>
</ion-content>