.speaker ion-img{
    max-width: 25vw;
    max-height: 25vw;
    margin-right: 1em;
}

ion-card {
    margin-top: 2em;
    min-height: 50vh;
}

.description {
    margin-bottom: 2em;
}

.notes ion-button {
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    width: 80vw;
}   