<ion-header>
  <ion-toolbar>
    <ion-title>
      Conférence
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" text-wrap>
      <img src="/assets/logo_alexis_ibro.jpg" alt="Logo ecole" />
  </ion-card>
  <ion-title text-center class="conference">Conférence</ion-title>
  <div>
      <ion-label slot="center">Date début Date fin</ion-label>
  </div>
  <ion-button [routerLink]="['/sessions']" expand="block">Voir les sessions</ion-button>
  <ion-button [routerLink]="['/speakers']" expand="block">Voir les présentateurs</ion-button>
</ion-content>