.welcome-card {
  max-height: 40vh;
  max-width: 60vw;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}

.welcome-card img {
  overflow: hidden;
}

.conference {
  font-size: 2em;
}

ion-content > * {
  margin-bottom: 5%;
}