<ion-header>
  <ion-toolbar>
    <ion-title>
      Conférence
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" text-wrap>
      <img src="/assets/logo_alexis_ibro.jpg" alt="Logo ecole" />
  </ion-card>
  <ion-title text-center class="conference">Conférence</ion-title>
  <ion-item class="EventDates" lines="none">
      <ion-label text-center>4/20/2004 - 04/10/2019</ion-label>
  </ion-item>  
  <ion-item lines="none">
      <ion-button expand="block"  class="main-page-button">Voir les sessions</ion-button>
  </ion-item>
  <ion-item lines="none">
      <ion-button expand="block"  class="main-page-button">Voir les présentateurs</ion-button>
  </ion-item>
  
 
</ion-content>